{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Pozdravljen, {{ username }}!</h2>

    <div class="row justify-content-center">
        <div class="col-md-3 mb-3">
            <a href="/workouts" class="btn btn-outline-primary btn-lg w-100">
                💪 Moji treningi
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="/workouts/new" class="btn btn-outline-success btn-lg w-100">
                ➕ Dodaj trening
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="/profile" class="btn btn-outline-info btn-lg w-100">
                🙋 Moj profil
            </a>
        </div>
    </div>

    <hr class="my-4" />

    <div class="mt-4">
        <h4>📊 Statistika</h4>
        <p>Skupno število treningov: <strong>{{ stats_total_workouts }}</strong></p>
        <!-- Lahko dodaš še več, kot npr. zadnji trening, najbolj priljubljena vaja itd. -->
    </div>
</div>
{% endblock %}
